asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.11
discord-webhook==0.14.0
Django==4.0.2
idna==3.3
image==1.5.33
lxml==4.7.1
Pillow==9.0.1
regex==2022.1.18
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.8
